@import 'nib'
@import 'rupture'
// main elements
html, body, h1, h2, h3, h4, h5, h6
  font-family "DinDisplay", sans-serif !important
.table-char
  width 100%
  tr:nth-child(odd)
    background #E0E7F0
  tr
    td
      &:first-child
        width 25%
      &:last-child
        width 75%
      padding 16px
      +below(567px)
        padding 8px
.pagination-page
  display flex
  align-items center
  justify-content space-between
  margin-top 56px
  +below(412px)
    align-items unset
    flex-direction column
    .ui.button
      width 100%
      margin-bottom 24px
    .page-block
      width 100%
.main-text
  font-style normal
  font-weight normal
  font-size 16px
  line-height 24px
  +below(1248px)
    line-height 20px
.aside-menu
  width 262px
  margin-right 28px
  &-title
    .mobile-accordion
      display none
  +below(768px)
    width 100%
    margin-bottom 16px
    margin-right 0
    &-title
      border-bottom 1px solid #D5D5D5
      display flex
      justify-content space-between
      align-items flex-start
      &.active
        .icon
          transform rotate(180deg)
      .mobile-accordion
        display flex
        line-height 28px
        align-items center
        .icon
          margin-left 8px
          width 12px
          height 10px
          transition .5s ease
    &-content
      &.active
        border-bottom 1px solid #D5D5D5
        padding-bottom 16px
  .download
    margin-bottom 24px
  .gray-line
    border-top 1px solid #D5D5D5
    width 100%
    margin 24px 0
  &.detail-page
    width 190px
  .title
    font-style normal !important
    font-weight 500 !important
    font-size 16px !important
    line-height 19px !important
    color #0078B8 !important
    display flex
    align-items center
    font-family "DinDisplay", sans-serif !important
    .icon
      margin-right 8px
      transition .3s ease
    &.active
      .icon
        transform rotate(180deg)
  .content
    .menu
      display flex
      flex-direction column
      margin -6px
      padding-left 16px
      a
        display block
        padding 6px
        font-style normal
        font-weight normal
        font-size 14px
        line-height 28px
        color black
        transition .3s ease
        &:hover
          color #B5B5B5
        &.active
          color #B5B5B5
.right-button-block
  width 100%
  display flex
  justify-content flex-end
  +below(567px)
    .ui.button
      width 100%
.production
  .prev-slide
    left -32px !important
    +below(1248px)
      left -16px !important
  .next-slide
    right -16px !important
    +below(1248px)
      right -12px !important
.slider-arrow
  position absolute
  width 100%
  &.product-slider-action
    display none
    +below(567px)
      display block
      height 364px
  &.catalog-block-action
    display none
    +below(567px)
      display block
      height 364px
      .prev-slide
        left 0
      .next-slide
        right 0
  &.step-production-action
    display none
    +below(576px)
      display block
      height 240px
  &.production-slider-action
    height 304px
    +below(1248px)
      height 232px
    +below(767px)
      height 175px
  &.main-slider-action
    height 450px
    +below(567px)
      .container
        display none
    .prev-slide
      left 0px
      +below(1200px)
        left 32px
    .next-slide
      right 0px
      +below(1200px)
        right 32px
  &.referens-slider-action
    height 152px
    +below(412px)
      height 84px
      .prev-slide
        left -16px
      .next-slide
        right -16px
  &.white
    .prev-slide, .next-slide
      background white
      .icon
        fill #0078B8
      &:hover
        cursor pointer
        background darken(white, 15%)
        .icon
          fill darken(#0078B8, 15%)
  .container
    position relative
    height 100%
  .prev-slide, .next-slide
    z-index 1
    position absolute
    right -16px
    display flex
    align-items center
    justify-content center
    height 32px
    width 32px
    border-radius 50%
    background #0078B8
    transition .3s ease
    top calc(50% - 16px)
    &:hover
      cursor pointer
      background darken(#0078B8, 15%)
  .prev-slide
    left -16px
    right unset
    .icon
      transform rotate(180deg)
.bread-crumb
  display flex
  margin-bottom 32px
  overflow-x auto
  &::-webkit-scrollbar
    height 0
  +below(567px)
    margin-bottom 16px
  a
    display block
    font-style normal
    font-weight normal
    font-size 14px
    line-height 20px
    color #919191
    margin-right 8px
    white-space nowrap
    &:not(:first-child):before
      content "/"
      margin-right 8px
.up-page
  position absolute
  top -20px
  right 244px
  display flex
  flex-direction column
  align-items center
  +below(1248px)
    right 64px
  &:hover
    cursor pointer
  p
    font-style normal
    font-weight normal
    font-size 15px
    line-height 22px
    margin-top 8px
    color white
h1
  font-style normal
  font-weight bold
  font-size 38px
  line-height 38px
  margin-top 0
  +below(567px)
    font-size 24px
    line-height 28px
.h3-title
  font-style normal
  font-weight bold
  font-size 32px
  line-height 38px
  margin-bottom 40px
  +below(567px)
    font-size 24px
    line-height 32px
    margin-bottom 24px
  &.blue
    color #0078B8
.container
  max-width 1154px
  margin-left auto
  margin-right auto
  padding-left 15px
  padding-right 15px
  width 100%
  +below(1248px)
    padding 0 32px
  +below(412px)
    padding 0 20px
.ui.button.basic
  border 2px solid #0078B8
  color #0078B8 !important
  font-style normal
  font-weight 500
  font-size 14px
  background white !important
  line-height 17px
  border-radius 6px !important
  transition .3s ease
  font-family "DinDisplay", sans-serif
  &:hover
    border 2px solid darken(#0078B8, 15%) !important
    color darken(#0078B8, 15%) !important
.ui.button.primary
  color white !important
  font-style normal
  font-weight 500
  font-size 14px
  line-height 17px
  background #0078B8 !important
  border-radius 6px !important
  transition .3s ease
  &:hover
    background darken(#0078B8, 15%) !important
.page-block
  display flex
  align-items center
  .count
    font-style normal
    font-weight normal
    font-size 16px
    line-height 24px
    margin-right 24px
  .prev-page, .next-page
    display flex
    align-items center
    justify-content center
    height 32px
    width 32px
    border-radius 50%
    background #0078B8
    transition .3s ease
    &:hover
      cursor pointer
      background darken(#0078B8, 15%)
  .prev-page
    margin-right 16px
    .icon
      transform rotate(180deg)
// icons
.icon
  &.mail-svg
    width 20px
    height 16px
    fill white
  &.phone-svg
    width 16px
    height 16px
    fill white
  &.search-svg
    width 16px
    height 16px
    fill #00467B
  &.poligon-svg
    min-width 8px
    min-height 6px
    width 8px
    height 6px
  &.back-svg
    width 16px
    height 16px
  &.page-svg
    width 9px
    height 15px
    fill white
  &.close-svg
    width 18px
    height 18px
.ui.search
  height 48px
  max-width 356px
  width 100%
  padding-left 16px
  .ui.icon.input
    height 100%
    width 100%
    input::placeholder
      color white
    .search-svg
      &.active
        fill #00467B
        right 16px
        left unset
      fill white
      top 35%
      position absolute
      transition .3s ease
      left -16px
      &:hover
        cursor pointer
    .prompt
      border-radius 0 !important
      background #00467B
      color white
      border none
      font-style normal
      font-weight normal
      font-size 14px
      line-height 17px
      &:focus
        background white
        color black
        border 1px solid #D4D4D4
// header
.wrapper
  padding-top 160px
  min-height calc(100vh - 372px)
  +below(997px)
    padding-top 118px
.header
  position fixed
  top 0
  right 0
  left 0
  z-index 100
  transition 0.5s ease
  &.none
    top -100%
  &__wrap
    &.blue
      height 48px
      background #00467B
      .item
        &:last-child
          +below(997px)
            display none
    &.white
      height 112px
      background white
      +below(997px)
        height 70px
      .item
        +below(997px)
          &:first-child
            width 70%
          &:last-child
            width 30%
    display flex
    align-items center
    &_block
      display flex
      justify-content space-between
      .item
        display flex
        align-items center
        .contact_block
          display flex
          &:not(:first-child)
            margin-left 32px
          a
            font-style normal
            font-weight bold
            font-size 14px
            line-height 17px
            color: #FFFFFF
          .icon
            margin-right 12px
      .img-block
        max-width 340px
        display block
        width 100%
        img
          width 100%
          height 100%
          object-fit cover
          object-position center
          vertical-align top
      .burger-menu
        width 22.5px
        height 16px
        margin-left auto
        position relative
        +above(997px)
          display none
        &.active
          span
            opacity 0
            &:first-child
              opacity 1
              transform rotate(45deg) translate(0, 11px)
            &:last-child
              opacity 1
              transform rotate(-45deg) translate(0, -11px)
        span
          width 100%
          height 2px
          background black
          position absolute
          top 8px
          transition .5s ease
          &:first-child
            top 0
          &:last-child
            top 16px
      .main-menu
        display flex
        margin -12px
        &-mob
          padding 0 20px
          .item
            width 100% !important
            a
              color black
            .icon
              fill black
          .social
            display flex
            margin 0 -12px
            a
              .icon
                fill #00467B
          +above(997px)
            display none
        a
          display block
          padding 12px
          font-style normal
          font-weight 500
          font-size 16px
          line-height 19px
          color #0078B8
          &.active
            color #00467B
        +below(997px)
          position fixed
          top 128px
          left 0
          right 0
          background white
          flex-direction column
          padding 20px
          padding-bottom 40px
          bottom 0
          overflow auto
          height auto
          transition .3s ease
          &.none
            bottom 100%
            overflow hidden
            padding 0
          a
            font-style normal
            font-weight 500
            font-size 20px
            line-height 20px
            color #0078B8
.footer
  background-color #00467B
  background-image url("../images/footer-bg.png")
  background-repeat no-repeat
  background-position right
  height 300px
  padding-top 70px
  position relative
  margin-top 72px
  +below(768px)
    height auto
    padding-bottom 48px
    padding-top 48px
  &__wrap
    display flex
    +below(768px)
      flex-direction column
      .item
        &:nth-child(1)
          order 3
        &:nth-child(2)
          order 1
        &:nth-child(3)
          display none
        &:nth-child(4)
          order 2
          margin 32px 0
    .item
      p
        color white
        font-style normal
        font-weight normal
        font-size 15px
        line-height 22px
      a
        color white
        display block
        font-style normal
        font-weight normal
        font-size 15px
        line-height 18px
      &:not(:last-child)
        margin-right 44px
      &:nth-child(3)
        margin-left auto
        +below(768px)
          margin-left unset
      .menu-footer
        display flex
        flex-direction column
        margin -8px
        a
          padding 8px
      .social-block
        margin-bottom 40px
        display flex
        a:not(:last-child)
          margin-right 16px
      .policity
        font-style normal
        font-weight normal
        font-size 15px
        line-height 22px
        color #FFFFFF

.main-slider
  height 450px
  .slick-dots
    bottom 32px
    +above(567px)
      left 0
      right unset
    li
      &.slick-active
        button:before
          font-size 14px
          opacity 0.9
      button:before
        font-size 10px
        color white
        opacity 0.5
  .ui.basic
    border none
    &:hover
      border none !important
  .item
    height 450px
    background-repeat no-repeat
    background-position center
    background-size cover
    .container
      display flex
      height 100%
      align-items center
    &_content
      padding-left 56px
      +below(567px)
        padding 0
        width 100%
      .title
        font-style normal
        font-weight bold
        font-size 32px
        line-height 38px
        color #FFFFFF
        +below(567px)
          font-size 28px
          line-height 32px
          text-align center
      .description
        font-style normal
        font-weight 500
        font-size 16px
        line-height 24px
        color #FFFFFF
        max-width 300px
        margin-top 8px
        margin-bottom 32px
        +below(567px)
          font-size 16px
          line-height 24px
          text-align center
          font-weight normal
          max-width unset
      .button
        background white
        font-style normal
        font-weight 500
        font-size 14px
        line-height 17px
        color #00467B
        padding 12px 46px
        border-radius 6px
        +below(567px)
          width 100%
.production
  margin-top 56px
  position relative
  .h3-title
    text-align center
  .description
    margin-bottom 24px
    margin-top 48px
    font-style normal
    font-weight normal
    font-size 16px
    line-height 24px
    +below(567px)
      margin-top 24px
  &-slider
    margin-left -12px
    margin-right -12px
    border-radius 6px
    overflow hidden
    +below(1248px)
      margin 0
    .item
      padding-left 12px
      padding-right 12px
      border-radius 6px
      overflow hidden
      +below(768px)
        padding-left 6px
        padding-right 6px
        height 175px
      img
        width 100%
        height 100%
        vertical-align top
        object-fit cover
        object-position center
        border-radius 6px
      &:focus
        outline none
  &-block
    display flex
    justify-content space-between
    width 100%
    margin-top 40px
    flex-wrap wrap
    .item
      width 19%
      background #005087
      border-radius 6px
      padding 24px
      margin-top 16px
      +below(997px)
        width 24%
      +below(808px)
        width 32%
      +below(567px)
        width 49%
      +below(412px)
        width 100%
      .name
        font-style normal
        font-weight bold
        font-size 36px
        line-height 38px
        text-align center
        color white
      .inf
        margin-top 8px
        font-style normal
        font-weight normal
        font-size 16px
        line-height 24px
        text-align center
        color: #FFFFFF
.contact_wrapper
  .item
    margin-bottom 56px
    .title-block
      display flex
      justify-content space-between
      align-items flex-start
      margin-bottom 24px
      +below(768px)
        flex-direction column-reverse
      .name
        font-style normal
        font-weight 500
        font-size 18px
        line-height 24px
        display flex
        +below(768px)
          margin-top 24px
        img
          margin-right 16px
    .content-block
      display flex
      +below(768px)
        flex-direction column-reverse
      .inf
        max-width 238px
        margin-right 48px
        width 100%
        +below(768px)
          max-width unset
        .img-block
          width 238px
          +below(768px)
            width 100%
            margin-top 24px
          img
            height 100%
            width 100%
            object-position center
            object-fit cover
            vertical-align top
        .name
          font-style normal
          font-weight 500
          font-size 20px
          line-height 26px
          margin 24px 0 16px 0
        .text
          font-style normal
          font-weight normal
          font-size 16px
          line-height 24px
      .map
        width 100%
        height 320px
        border-radius 6px
        overflow hidden
.download
  display flex
  .inf
    margin-left 16px
    .name
      font-style normal
      font-weight normal
      font-size 16px
      line-height 24px
      color #323232
      &.blue
        color #0078B8
  .size
    font-style normal
    font-weight normal
    font-size 14px
    line-height 24px
    color #919191
.video-block
  margin-top 40px
  width 100%
  height 400px
  padding-left 25%
  border-radius 6px
  overflow hidden
  position relative
  +below(997px)
    padding-left 0
  &_text
    width 35%
    z-index: 3;
    position absolute
    font-style normal
    font-weight 500
    font-size 24px
    line-height 34px
    color #FFFFFF
    left 72px
    top 25%
    +below(997px)
      width unset
      left 20px
      right 20px
      margin 0 auto
      top 55%
      text-align center
      font-size 18px
      line-height 24px
  &_bg
    position absolute
    top 0
    left 0
    z-index 2
    +below(997px)
      top unset
      bottom 0
      right 0
      max-height 70%
    .mob
      display none
    .pc
      display block
    +below(997px)
      .mob
        display block
        width 100%
        height 100%
        object-position bottom
        object-fit cover
        vertical-align bottom
      .pc
        display none
  &:not(.video-block_bg) img, video
    width 100%
    height 100%
    object-position right
    object-fit cover
    vertical-align top
.our-product
  &_description
    width 100%
    margin 40px 0
    font-style normal
    font-weight normal
    font-size 16px
    line-height 24px
  .director_block
    display flex
    width 100%
    border-radius 6px
    overflow hidden
    background #E0E7F0
    height 262px
    margin-bottom 56px
    +below(1248px)
      height auto
    +below(768px)
      flex-direction column
    &_img
      width 34%
      +below(768px)
        width 100%
      img
        width 100%
        height 100%
        object-fit cover
        object-position center
        vertical-align top
    &_description
      width 66%
      padding 40px
      +below(768px)
        width 100%
        padding 16px
      .text
        font-style italic
        font-weight normal
        font-size 16px
        line-height 24px
        color #00467B
      .name
        text-align right
        font-style normal
        font-weight normal
        font-size 16px
        line-height 24px
.step
  &-production
    margin-bottom 60px
    position relative
    &_count
      font-style normal
      font-weight 900
      font-size 24px
      line-height 24px
      color #FFFFFF
      border-radius 50%
      width 41px
      height 41px
      background #0078B8
      display flex
      align-items center
      justify-content center
      position absolute
      top -22px
      left 0
      +below(567px)
        left 12px
    .slider-block
      display flex
      .item
        height 200px
        flex-grow 1
        background #0d71bb
        border-radius 6px
        overflow hidden
        +below(567px)
          height 240px
        &:not(:last-child)
          margin-right 20px
          +below(567px)
            margin-right 0
        img
          width 100%
          height 100%
          object-position center
          object-fit cover
          vertical-align top
    .text-block
      margin-top 24px
      .name
        font-style normal
        font-weight 500
        font-size 24px
        line-height 30px
        margin-bottom 16px
      .text
        font-style normal
        font-weight normal
        font-size 16px
        line-height 24px
.guaranty
  display flex
  padding 40px
  align-items center
  height 182px
  border-radius 6px
  background #005087
  justify-content center
  +below(998px)
    height auto
  +below(567px)
    flex-direction column 
    align-items center
  &_block
    max-width 546px
    margin-left 40px
    +below(567px)
      margin-left 0
    .name
      font-style normal
      font-weight bold
      font-size 32px
      line-height 38px
      color: #FFFFFF
      margin-bottom 12px
      +below(567px)
        text-align center
    .text
      font-style normal
      font-weight 500
      font-size 16px
      line-height 24px
      color #FFFFFF
      +below(567px)
        text-align center
.wrapper-document
  display flex
  +below(768px)
    flex-direction column
  .document-content
    margin-left 52px
    width 100%
    &_text
      font-style normal
      font-weight normal
      font-size 16px
      line-height 24px
      margin-top 24px
      margin-bottom 56px
    +below(768px)
      margin-left 0
    &.detail-page
      max-width 744px
      margin-left 0
      h1
        font-size 32px
      .img-block
        width 100%
        height 336px
        border-radius 6px
        overflow hidden
        margin 24px 0
        img
          width 100%
          height 100%
          object-fit cover
          object-position center
          vertical-align top
    &_title
      font-style normal
      font-weight bold
      font-size 24px
      line-height 32px
      margin-bottom 24px
    &_wrapper
      display flex
      flex-wrap wrap
      justify-content space-between
      margin -12px
      .item
        width 33%
        padding 12px
        display block
        +below(768px)
          width 50%
        +below(412px)
          width 100%
        .img-block
          width 100%
          height 160px
          overflow hidden
          border-radius 6px
          img
            width 100%
            height 100%
            vertical-align top
            object-fit cover
            object-position center
        .name
          font-style normal
          font-weight 500
          font-size 16px
          line-height 26px
          color #0078B8
          margin 16px 0 8px 0
        .text
          font-style normal
          font-weight normal
          font-size 16px
          line-height 24px
          color #323232
          overflow: hidden;
          text-overflow: ellipsis;
          display: -moz-box;
          -moz-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          line-clamp: 3;
          box-orient: vertical;
.catalog-wrapper
  margin-top 64px
  position relative
  +below(1248px)
    margin-top 32px
  &_title
    display flex
    justify-content space-between
    align-items center
    margin-bottom 24px
    +below(567px)
      flex-direction column
      align-items flex-start
  .catalog-block
    display flex
    margin -12px
    flex-wrap wrap
    .item
      +below(567px)
        height 364px
      width 25%
      padding 12px
      display flex
      flex-direction column
      align-items center
      +below(997px)
        width 33%
      +below(567px)
        width 50%
      +below(412px)
        width 100%
      .img-block
        border-radius 16px
        width 100%
        height 298px
        +below(567px)
          height 260px
        img
          width 100%
          height 100%
          object-position center
          object-fit contain
          vertical-align top
        +above(567px)
          &:hover
            box-shadow 0px 0px 0px 2px #0078B8
            cursor pointer
      .name
        margin-top 24px
        text-align center
        font-style normal
        font-weight 500
        font-size 20px
        line-height 26px
        color #0078B8
.referens
  &-partner
    margin-top 40px
    margin-bottom 28px
    p
      font-style normal
      font-weight normal
      font-size 16px
      line-height 24px
  &-slider
    position relative
  &-slider-nav
    .item
      border 1px solid #D4D4D4
      height 148px
      overflow hidden
      outline none !important
      filter grayscale(100%)
      +below(412px)
        height 84px
      &.slick-current
        border 1px solid #00467B
        filter grayscale(0)
      img
        width 100%
        height 100%
        object-fit contain
        object-position center
        vertical-align top
  &-slider-for
    .item
      outline none !important
      .organization
        margin-top 48px
        +below(768px)
          margin-bottom 32px
        &_img
          display flex
          align-items center
          &-item
            +below(567px)
              margin-right 0 !important
              &:not(:first-child)
                display none
            flex-grow 1
            border-radius 6px
            overflow hidden
            height 176px
            img
              width 100%
              height 100%
              object-fit cover
              object-position center
              vertical-align top
            &:not(:last-child)
              margin-right 20px
        &_content
          display flex
          margin-top 32px
          flex-wrap wrap
          &-item
            width 40%
            +below(768px)
              width 100%
            &:first-child
              width 60%
              padding-right 20px
              +below(768px)
                width 100%
                padding-right 0
            .name
              font-style normal
              font-weight 500
              font-size 24px
              line-height 30px
              margin-bottom 16px
            .text
              font-style normal
              font-weight normal
              font-size 16px
              line-height 24px
            .project
              display flex
              +below(412px)
                flex-direction column
              &-item
                width 100%
                &:first-child
                  margin-right 20px
                  .project-item-cell
                    background #E0E7F0
                    &:nth-child(even)
                      background none
                &-cell
                  padding 12px
                  width 100%
                  background #E0E7F0
                  display flex
                  align-items center
                  &:nth-child(odd)
                    background none
.letters
  &-block
    display flex
    flex-wrap wrap
    margin -12px
    margin-bottom 32px
    .item
      width 25%
      padding 12px
      +below(768px)
        width 33.3%
      +below(567px)
        width 50%
      +below(412px)
        width 100%
      .name
        font-style normal
        font-weight normal
        font-size 16px
        line-height 30px
        margin-top 16px
      .img-block
        width 100%
        position relative
        img:not(.size)
          transition .3s ease
          width 100%
          height 100%
          object-position center
          object-fit cover
          vertical-align top
        &:hover
          img
            filter brightness(50%)
          .size
            opacity 1
        .size
          position absolute
          top 0
          bottom 0
          right 0
          left 0
          margin auto
          opacity 0
          transition .3s ease
.product
  display flex
  +below(768px)
    flex-direction column
  .ui.top.attached.tabular.menu
    border-radius 0 !important
    +below(1248px)
      overflow-x auto
      &::-webkit-scrollbar
        height 0
    +below(567px)
      flex-direction column
    .item
      margin-bottom 0
      font-family "DinDisplay", sans-serif !important
      height 72px
      padding 0 18px
      background #0078B8
      font-style normal
      font-weight 500
      font-size 16px
      line-height 19px
      text-align center
      flex-grow 1
      color #FFFFFF
      box-shadow 0 0 0 1px white
      border-radius 0 !important
      +below(567px)
        justify-content center
      &.active
        background #E0E7F0
        color #0078B8
        border none
  .ui.bottom.attached.tab.segment
    margin-top 32px !important
    padding 0
    border none
    .documentation
      display flex
      margin -12px
      +below(567px)
        flex-wrap wrap
      .item
        padding 12px
        width 33%
        margin-bottom 0
        +below(567px)
          width 100%
        img
          height 56px
          width 56px
    .size-description
      display flex
      flex-wrap wrap
      .img-block
        width 60%
        +below(567px)
          width 100%
        img
          width 100%
          height 100%
          object-position center
          object-fit contain
          vertical-align top
      .description
        width 40%
        padding-left 70px
        +below(567px)
          width 100%
          padding-left 0
        margin-top 24px
        &-item
          display flex
          width 100%
          padding 12px
          &:nth-child(odd)
            background #E0E7F0
    .about-product
      p
        font-style normal
        font-weight normal
        font-size 16px
        line-height 24px
      img
        max-width 100%
  &-wrapper
    width 100%
    &-preview
      display flex
      +below(567px)
        flex-direction column
    &-title
      width 100%
      padding-bottom 32px
      border-bottom 1px solid #D5D5D5
      .img-block
        width 100%
        height 160px
        border-radius 6px
        overflow hidden
        margin-bottom 24px
        img
          height 100%
          width 100%
          object-position center
          object-fit cover
          vertical-align top
    &-content
      padding-top 32px
      .item
        display flex
        margin-bottom 40px
        +below(567px)
          flex-direction column
        .img-block
          min-width 264px
          height 160px
          border-radius 6px
          overflow hidden
          margin-right 24px
          +below(567px)
            margin-right 0
          img
            height 100%
            width 100%
            vertical-align top
            object-fit cover
            object-position center
        .description
          .name
            font-style normal
            font-weight 500
            font-size 20px
            line-height 26px
            color #0078B8
            margin-bottom 24px
            +below(567px)
              margin-top 16px
  &-description
    height 324px
    display flex
    flex-direction column
    justify-content space-between
    align-items flex-start
    padding-left 28px
    +below(1248px)
      height auto
    +below(567px)
      padding-left 0
      margin-top 24px
      .main-text
        margin 24px 0
    .name
      font-style normal
      font-weight bold
      font-size 24px
      line-height 28px
  &-slider
    width 456px
    position relative
    +below(567px)
      width 100%
    &-for
      .item
        width 100%
        height 324px
        border-radius 6px
        overflow hidden
        img
          height 100%
          width 100%
          object-position center
          object-fit cover
          vertical-align top
    &-nav
      +below(567px)
        display none
      margin-top 24px
      .item
        padding 4px
        outline none
        &:hover
          cursor pointer
        &.slick-current
          .img-block
            box-shadow 0 0 0 3px #0078B8
        .img-block
          height 80px
          width 80px
          border-radius 6px
          overflow hidden
          &:hover
            box-shadow 0 0 0 3px #0078B8
          img
            height 100%
            width 100%
            object-fit cover
            object-position center
            vertical-align top
.search-wrapper
  .ui.icon.input
    height 100%
    width 100%
    max-width 554px
    input::placeholder
      color white !important
    .search-svg
      top 35%
      position absolute
      transition .3s ease
      right 16px
      &:hover
        cursor pointer
      .prompt
        border-radius 0 !important
        background #00467B
        color white
        border none
        font-style normal
        font-weight normal
        font-size 14px
        line-height 17px
        &:focus
          background white
          color black
          border 1px solid #D4D4D4
  .result-request
    margin 16px 0 32px 0
    font-style normal
    font-weight normal
    font-size 16px
    line-height 24px
    color #919191
    span
      color #0078B8
  .search-result
    .item
      .name
        font-style normal
        font-weight 500
        font-size 20px
        line-height 26px
        color #0078B8
      .bread-crumb
        margin-bottom 24px
.ui.modal.callback
  max-width 320px
  box-shadow 0px 10px 18px rgba(0, 0, 0, 0.2)
  border-radius 6px !important
  .close
    position absolute
    top 24px
    right 24px
    padding 0
    height fit-content
    width fit-content
  .content
    padding 24px 40px 32px 40px
    background none
    .h3-title
      margin-bottom 16px
      font-size 24px
    .ui.button
      width 100%
      margin-bottom 16px
    .text-policity
      font-style normal
      font-weight normal
      font-size 14px
      line-height 20px
      a
        text-decoration underline
        color black
.aside-menu-content
  +below(567px)
    display none
.aside-menu-content.active
  +below(567px)
    display block
