extends layout
block content
    .ui.container
        .error-page
            p.text--404 404
            .error-page--back
                p.text--blue Извините! Страница, которую #[br] Вы ищете, не может быть #[br] найдена :(
                a(href='/').ui.button.basic.primary Главная страница