extends layout
block content
    .wrapper
        .container
            .bread-crumb
                a(href="#!") Главная
                a(href="#!") Каталог
            .catalog-wrapper
                .catalog-wrapper_title
                    h1 Каталог
                    a(href="#!" target="_blank").ui.button.basic Скачать каталог
                .catalog-block
                    a(href="/catalog-list").item
                        .img-block
                            img(src="../images/catalog1.png")
                        .name Клапаны регулирующие
                    a(href="/catalog-list").item
                        .img-block
                            img(src="../images/catalog2.png")
                        .name Клапаны запорно-регулирующие
                    a(href="/catalog-list").item
                        .img-block
                            img(src="../images/catalog3.png")
                        .name Клапаны запорные (отсечные)
                    a(href="/catalog-list").item
                        .img-block
                            img(src="../images/catalog4.png")
                        .name Мембранные исполнительные механизмы
                    a(href="/catalog-list").item
                        .img-block
                            img(src="../images/catalog3.png")
                        .name Клапаны запорные (отсечные)
                    a(href="/catalog-list").item
                        .img-block
                            img(src="../images/catalog4.png")
                        .name Мембранные исполнительные механизмы
