extends layout
block content
    .wrapper
        .container
            .bread-crumb
                a(href="/") Главная
                a(href="#!") Каталог
                a(href="#!") Клапаны
            .product
                aside.aside-menu
                    .aside-menu-title
                        h1 Каталог
                        .mobile-accordion
                            | Меню каталога
                            +icon("poligon-svg")
                    .aside-menu-content
                        .ui.accordion
                            .title
                                +icon('poligon-svg')
                                | Клапаны регулирующие
                            .content
                                .menu
                                    a(href="/document") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/document") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/document") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                        .ui.accordion
                            .title
                                +icon('poligon-svg')
                                | Клапаны запорно-регулирующие
                            .content
                                .menu
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Методика подбора навесного оборудования
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Навесное оборудование для клапанов НХА
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Обозначения и стандарты
                        .ui.accordion
                            .title
                                +icon('poligon-svg')
                                | Клапаны запорные (отсечные)
                            .content
                                .menu
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Методика подбора навесного оборудования
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Навесное оборудование для клапанов НХА
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Обозначения и стандарты
                        .ui.accordion
                            .title
                                +icon('poligon-svg')
                                | Мембранные исполнительные механизмы (МИМ)
                            .content
                                .menu
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Методика подбора навесного оборудования
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Навесное оборудование для клапанов НХА
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Обозначения и стандарты
                        .gray-line
                        .download
                            img(src="../images/pdf.svg")
                            .inf
                                a(target="_blank" href="#").name.blue Скачать реквизиты
                                .size pdf, 1.3 mb
                        a(href="#!" target="_blank").ui.button.basic Опросный лист xlsx
                .product-wrapper.detail
                    .product-wrapper-preview
                        .product-slider
                            .product-slider-action.slider-arrow.white
                                .prev-slide
                                    +icon("page-svg")
                                .next-slide
                                    +icon("page-svg")
                            .product-slider-for
                                .item
                                    img(src="../images/product1.png")
                                .item
                                    img(src="../images/product2.png")
                                .item
                                    img(src="../images/product3.png")
                                .item
                                    img(src="../images/product4.png")
                                .item
                                    img(src="../images/product5.png")
                                .item
                                    img(src="../images/product6.png")
                            .product-slider-nav
                                .item
                                    .img-block
                                        img(src="../images/product1.png")
                                .item
                                    .img-block
                                        img(src="../images/product2.png")
                                .item
                                    .img-block
                                        img(src="../images/product3.png")
                                .item
                                    .img-block
                                        img(src="../images/product4.png")
                                .item
                                    .img-block
                                        img(src="../images/product5.png")
                                .item
                                    .img-block
                                        img(src="../images/product6.png")
                        .product-description
                            .name Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                            .main-text Диаметры и давление: DN: 10-200мм; PN: 16-40, 63-160 МПА. Типы присоединений: фланцевые, муфтовые, под приварку. Материал корпуса: углеродистые (жаропрочные, хладостойкие), коррозионностойкие стали и сплавы.
                            .ui.button.primary.js-callback-button Оставить запрос
                    .product-wrapper-content
                        .ui.top.attached.tabular.menu
                            .item.active(data-tab="description") Описание
                            .item(data-tab="characteristic") Технические характеристики
                            .item(data-tab="size") Габаритные#[br] и присоединительные размеры
                            .item(data-tab="documentation") Техническая#[br] и разрешительная документация
                        .ui.bottom.attached.active.tab.segment(data-tab="description")
                            .about-product
                                p Пневматический привод — это система управления, в состав которой входит комплекс устройств, предназначенных для перемещения штока и как следствие открытия / закрытия клапана.  Рабочей средой служит сжатый воздух. В качестве пневмопривода для клапанов КР-НХА, КЗ/КО-НХА и КЗР-НХ используем мембранные исполнительные механизмы (МИМ-НХА) собственного производства завода НПП «Нефтехимавтоматика». Привод может комплектоваться ручным дублером (верхним или боковым), а также дополнительными приборами контроля и автоматизации (фильтр-редуктор, концевые выключатели, позиционер, электромагнитный клапан) ведущих мировых производителей: SMC (Япония), Camozzi (Италия), SIEMENS (Япония). Привод МИМ-НХА изготовлен по техническим условиям ТУ 3749-002-24645546-19. По устойчивости к воздействию климатических факторов привод соответствует исполнению У (- 40 до + 50 С, УХЛ (- 60 до + 50 С) категории 1 ГОСТ 15150-69, обеспечивая устойчивую работу приводов даже в условиях Крайнего Севера.
                                h4 Показатели надежности МИМ-НХА в соответствии с ТУ
                                ul
                                    li Полный средний срок службы, не менее 18 лет.
                                    li Полный средний ресурс, не менее – 100 000 циклов.
                                    li Наработка на отказ, не менее 30 000 циклов.
                                    li Значение вероятности безотказной работы механизмов не менее 0,99.
                                h4 Принцип работы клапанов НХА.
                                p Принцип работы клапана основан на изменении параметров (давление, расход) рабочей среды путем изменения проходного сечения. Управление клапаном осуществляется с помощью ручного, пневматического, электрического привода. Усилие, создаваемое приводом, передается через шток на плунжер, который перемещается вверх и вниз, изменяя площадь проходного сечения в затворе и регулируя расход рабочей среды.
                                img(src="../images/product-img.png")
                                p Тип дроссельного узла – разгруженный (сбалансированный) или неразгруженный (плунжерный) определяется в зависимости от требований к работе клапана.
                        .ui.bottom.attached.tab.segment(data-tab="characteristic")
                            table(cellspacing=0).table-char
                                tr
                                    td Условный проход – Ду, мм
                                    td 10, 15, 20, 25, 32, 40, 50, 65, 80, 100, 125, 150, 200,
                                tr
                                    td Условное давление – Ру, кгс/см2
                                    td 16, 25, 40, 63, 100, 160, 200, 250, 320
                                tr
                                    td Диапазоны температур рабочей среды, °С
                                    td От –60°С ... до +225°С;#[br]От –60°С ... до +350°С;#[br]От –60°С ... до +425°С;#[br]От –60°С ... до +550°С;#[br]От –60°С ... до +650°С;#[br]От –196°С.*
                                tr
                                    td Характеристика регулирования (кроме КЗ)
                                    td Линейная, равнопроцентная
                                tr
                                    td Присоединение к трубопроводу
                                    td Фланцевое по ГОСТ 33259-2015, ANSI B16.5*#[br]Приварное*#[br]МуфтовоеЛинейная, равнопроцентная
                        .ui.bottom.attached.tab.segment(data-tab="size")
                            .size-description
                                .img-block
                                    img(src="../images/detal.png")
                                .description
                                    .description-item 1       Корпус
                                    .description-item 2        Обойма
                                    .description-item 3        Накидной фланец
                                    .description-item 4        Резьбовой фланец
                                    .description-item 5       Сальниковый узел
                                    .description-item 6        Прокладка корпуса
                                    .description-item 7        Седло
                                    .description-item 8        Плунжер
                                    .description-item 9        Втулка
                                    .description-item 10       Шток
                                    .description-item 11       Букса
                                    .description-item 12       Прокладка седла
                        .ui.bottom.attached.tab.segment(data-tab="documentation")
                            .documentation
                                .item
                                    .download
                                        img(src="../images/pdf.svg")
                                        .inf
                                            a(target="_blank" href="#").name Скачать реквизиты
                                            .size pdf, 1.3 mb
                                .item
                                    .download
                                        img(src="../images/pdf.svg")
                                        .inf
                                            a(target="_blank" href="#").name Скачать реквизиты
                                            .size pdf, 1.3 mb
                                .item
                                    .download
                                        img(src="../images/pdf.svg")
                                        .inf
                                            a(target="_blank" href="#").name Скачать реквизиты
                                            .size pdf, 1.3 mb
    .ui.modal.callback
        .close
            +icon("close-svg")
        .content
            .h3-title Оставить запрос
            .ui.form.callback-form
                .field
                    input(type="text" name="name" placeholder="Имя*" autofocus)
                .field
                    input(type="tel" inputmode="tel" name="phone" placeholder="Телефон*")
                .field
                    input(type="text" name="mail" placeholder="Электронная почта*")
                .field
                    input(type="text" name="company" placeholder="Компания")
                .ui.button.basic Прикрепить опросный лист xlsx
                button.ui.button.primary Отправить
                .text-policity Нажимая кнопку «Отправить», вы принимаете согласие на обработку #[a(href="#" target="_blank") персональных данных]

