extends layout
block content
    .wrapper
        .container
            .bread-crumb
                a(href="/") Главная
                a(href="#!") Каталог
                a(href="#!") Клапаны
            .product
                aside.aside-menu
                    .aside-menu-title
                        h1 Каталог
                        .mobile-accordion
                            | Меню каталога
                            +icon("poligon-svg")
                    .aside-menu-content
                        .ui.accordion
                            .title
                                +icon('poligon-svg')
                                | Клапаны регулирующие
                            .content
                                .menu
                                    a(href="/document") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/document") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/document") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                        .ui.accordion
                            .title
                                +icon('poligon-svg')
                                | Клапаны запорно-регулирующие
                            .content
                                .menu
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Методика подбора навесного оборудования
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Навесное оборудование для клапанов НХА
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Обозначения и стандарты
                        .ui.accordion
                            .title
                                +icon('poligon-svg')
                                | Клапаны запорные (отсечные)
                            .content
                                .menu
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Методика подбора навесного оборудования
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Навесное оборудование для клапанов НХА
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Обозначения и стандарты
                        .ui.accordion
                            .title
                                +icon('poligon-svg')
                                | Мембранные исполнительные механизмы (МИМ)
                            .content
                                .menu
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Методика подбора навесного оборудования
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Навесное оборудование для клапанов НХА
                                    a(href="/directory") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                    a(href="/directory") Обозначения и стандарты
                        .gray-line
                        .download
                            img(src="../images/pdf.svg")
                            .inf
                                a(target="_blank" href="#").name.blue Скачать реквизиты
                                .size pdf, 1.3 mb
                        a(href="#!" target="_blank").ui.button.basic Опросный лист xlsx
                .product-wrapper
                    .h3-title Клапаны регулирующие
                    .product-wrapper-title
                        .img-block
                            img(src="../images/klapan.png")
                        .main-text Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что новая модель организационной деятельности.
                    .product-wrapper-content
                        .item
                            a(href="/catalog-detail").img-block
                                img(src="../images/klapan1.png")
                            .description
                                .name Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                .main-text Комплектации изделий: с ручным приводом или под привод (голый шток). Шток можно использовать с пневмоприводом или электроприводом. Диаметры: от 10 до 400 мм, Давление: от 16 до 400 Мпа. Корпус: ст. 20, ст. 25Л, 09Г2С, ст. 25ГЛ, ст. 12Х18Н9Т и другие по требованию заказчика.
                        .item
                            a(href="/catalog-detail").img-block
                                img(src="../images/klapan2.png")
                            .description
                                .name Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                .main-text Комплектации изделий: с пневмоприводами. Для обвески клапанов используем оборудование ведущих мировых производителей, таких как: SMC (Япония), Camozzi (Италия), SIEMENS (Япония), а также МИМы производства «Нефтехимавтоматика».
                        .item
                            a(href="/catalog-detail").img-block
                                img(src="../images/klapan3.png")
                            .description
                                .name Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                                .main-text Комплектации изделий: с электроприводами: АУМА, РОТОРК, НПП ТЭК и др. производителей. Настройку и установку приводов осуществляем на заводе «Нефтехимавтоматика». Подберем приводы, оптимально подходящие под технические требования заказчика.
