extends layout
block content
    .wrapper
        .container
            .bread-crumb
                a(href="#!") Главная
                a(href="#!") Контакты
            h1 Контакты
            .contact_wrapper
                .item
                    .title-block
                        .name
                            img(src="../images/pointer.svg")
                            p Киреевск. Производство: 301262,#[br] Тульская область, г. Киреевск, ул. Тесакова, 9-Г
                        .download
                            img(src="../images/pdf.svg")
                            .inf
                                a(target="_blank" href="#").name.blue Скачать реквизиты
                                .size pdf, 1.3 mb
                    .content-block
                        .inf
                            .img-block
                                img(src="../images/contact1.png")
                            .name Как проехать
                            .text Из Москвы - 220км. трассы М4 Дон, поворот на г. Киреевск, далее через 15 км. поворот налево перед зданием завода легких строительных конструкций.
                        .map
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.5389375573145!2d37.91592461603739!3d53.922168539123966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41341de79cfddccb%3A0x36ba777cbf14339e!2z0YPQuy4g0KLQtdGB0LDQutC-0LLQsCwgOSwg0JrQuNGA0LXQtdCy0YHQuiwg0KLRg9C70YzRgdC60LDRjyDQvtCx0LsuLCAzMDEyNjI!5e0!3m2!1sru!2sru!4v1608538655860!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                .item
                    .title-block
                        .name
                            img(src="../images/pointer.svg")
                            p Москва. Главный офис: 115201,#[br]ул. Котляковская, д. 3 стр 13 оф. 401. БЦ «Платинум»
                    .content-block
                        .inf
                            .img-block
                                img(src="../images/contact2.png")
                            .name Как проехать
                            .text На личном транспорте — подъезд к офису со стороны 2-го Варшавского проезда, вход в бизнес-центр с торца здания. Общественным транспортом — автобус № 607 от м. Варшавская или м. Каширская до остановки «Молочный комбинат».
                        .map
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2251.686430184706!2d37.62851381608542!3d55.6422690079788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab304d1f6f7f3%3A0x9815d368adf9780d!2z0JrQvtGC0LvRj9C60L7QstGB0LrQsNGPINGD0LsuLCAzLCDQnNC-0YHQutCy0LAsIDExNTIwMQ!5e0!3m2!1sru!2sru!4v1608540294632!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>