extends layout
block content
    .wrapper
        .container
            .bread-crumb
                a(href="#!") Главная
                a(href="#!") Документы
            .wrapper-document
                aside.aside-menu
                    h1 Документы
                    .ui.accordion
                        .title
                            +icon('poligon-svg')
                            | Документы
                        .content
                            .menu
                                a(href="/document") Документ 1
                                a(href="/document") Документ 2
                                a(href="/document") Документ 3
                    .ui.accordion
                        .title
                            +icon('poligon-svg')
                            | Справочник
                        .content
                            .menu
                                a(href="/directory") Структура условного обозначения клапанов НХА
                                a(href="/directory") Заполнение опросного листа
                                a(href="/directory") Методика подбора регулирующих клапанов
                                a(href="/directory") Методика подбора навесного оборудования
                                a(href="/directory") Методика подбора электроприводов
                                a(href="/directory") Навесное оборудование для клапанов НХА
                                a(href="/directory") Марки сталей
                                a(href="/directory") Обозначения и стандарты
                .document-content
                    .document-content_title Структура условного обозначения клапанов НХА
                    .document-content_wrapper
                        a(href="/directory-detail").item
                            .img-block
                                img(src="../images/directory.png")
                            .name Заголовок статьи
                            .text Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что новая модель организационной деятельности.
                        a(href="/directory-detail").item
                            .img-block
                                img(src="../images/directory.png")
                            .name Заголовок статьи
                            .text Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что новая модель организационной деятельности.
                        a(href="/directory-detail").item
                            .img-block
                                img(src="../images/directory.png")
                            .name Заголовок статьи
                            .text Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что новая модель организационной деятельности.
                        a(href="/directory-detail").item
                            .img-block
                                img(src="../images/directory.png")
                            .name Заголовок статьи
                            .text Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что новая модель организационной деятельности.
                        a(href="/directory-detail").item
                            .img-block
                                img(src="../images/directory.png")
                            .name Заголовок статьи
                            .text Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что новая модель организационной деятельности.
                        a(href="/directory-detail").item
                            .img-block
                                img(src="../images/directory.png")
                            .name Заголовок статьи
                            .text Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что новая модель организационной деятельности.
                    .pagination-page
                        .ui.button.primary Следующая страница
                        .page-block
                            .count 1 из 5
                            .prev-page
                                +icon("page-svg")
                            .next-page
                                +icon("page-svg")


