extends layout
block content
    .wrapper
        .container
            .bread-crumb
                a(href="#!") Главная
                a(href="#!") Документы
                a(href="#!") Название справочника
            .wrapper-document
                aside.aside-menu.detail-page
                    a(href="/directory")
                        +icon("back-svg")
                .document-content.detail-page
                    h1 Заголовок
                    .img-block
                        img(src="../images/directory.png")
                    .document-content_text Таким образом рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение систем массового участия. С другой стороны новая модель организационной деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же сложившаяся структура организации требуют определения и уточнения систем массового участия. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. С другой стороны консультация с широким активом влечет за собой процесс внедрения и модернизации новых предложений. С другой стороны дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм развития. Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании форм развития. Таким образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Равным образом рамки и место обучения кадров позволяет оценить значение дальнейших направлений развития. Равным образом сложившаяся структура организации способствует подготовки и реализации новых предложений.
                    table(cellspacing=0).table-char
                        tr
                            td Условный проход – Ду, мм
                            td 10, 15, 20, 25, 32, 40, 50, 65, 80, 100, 125, 150, 200,
                        tr
                            td Условное давление – Ру, кгс/см2   
                            td 16, 25, 40, 63, 100, 160, 200, 250, 320
                        tr
                            td Диапазоны температур рабочей среды, °С
                            td От –60°С ... до +225°С;#[br]От –60°С ... до +350°С;#[br]От –60°С ... до +425°С;#[br]От –60°С ... до +550°С;#[br]От –60°С ... до +650°С;#[br]От –196°С.*
                        tr
                            td Характеристика регулирования (кроме КЗ)
                            td Линейная, равнопроцентная
                        tr
                            td Присоединение к трубопроводу
                            td Фланцевое по ГОСТ 33259-2015, ANSI B16.5*#[br]Приварное*#[br]МуфтовоеЛинейная, равнопроцентная