extends layout
block content
    .wrapper
        .container
            .bread-crumb
                a(href="#!") Главная
                a(href="#!") Документы
            .wrapper-document
                aside.aside-menu
                    .aside-menu-title
                        h1 Документы
                        .mobile-accordion
                            | Меню каталога
                            +icon("poligon-svg")
                    .aside-menu-content
                        .ui.accordion
                            .title
                                +icon('poligon-svg')
                                | Документы
                            .content
                                .menu
                                    a(href="/document") Категории 1
                                    a(href="/document") Категории 2
                                    a(href="/document") Категории 3
                        .ui.accordion
                            .title
                                +icon('poligon-svg')
                                | Справочник
                            .content
                                .menu
                                    a(href="/directory") Структура условного обозначения клапанов НХА
                                    a(href="/directory") Заполнение опросного листа
                                    a(href="/directory") Методика подбора регулирующих клапанов
                                    a(href="/directory") Методика подбора навесного оборудования
                                    a(href="/directory") Методика подбора электроприводов
                                    a(href="/directory") Навесное оборудование для клапанов НХА
                                    a(href="/directory") Марки сталей
                                    a(href="/directory") Обозначения и стандарты
                .document-content
                    .document-content_title Категория 1
                    .document-content_wrapper
                        .item
                            .download
                                img(src="../images/pdf.svg")
                                .inf
                                    a(target="_blank" href="#").name Скачать реквизиты
                                    .size pdf, 1.3 mb
                        .item
                            .download
                                img(src="../images/pdf.svg")
                                .inf
                                    a(target="_blank" href="#").name Скачать реквизиты
                                    .size pdf, 1.3 mb
                        .item
                            .download
                                img(src="../images/pdf.svg")
                                .inf
                                    a(target="_blank" href="#").name Скачать реквизиты
                                    .size pdf, 1.3 mb
                        .item
                            .download
                                img(src="../images/pdf.svg")
                                .inf
                                    a(target="_blank" href="#").name Скачать реквизиты
                                    .size pdf, 1.3 mb
                        .item
                            .download
                                img(src="../images/pdf.svg")
                                .inf
                                    a(target="_blank" href="#").name Скачать реквизиты
                                    .size pdf, 1.3 mb
                        .item
                            .download
                                img(src="../images/pdf.svg")
                                .inf
                                    a(target="_blank" href="#").name Скачать реквизиты
                                    .size pdf, 1.3 mb
