-function defaultValue(variable, value){if (variable === undefined) variable = value; return variable;}
mixin addCss(path, external)
	link(rel="stylesheet" type="text/css" href=(external ? path : "/css/" + path))
mixin addJs(path, external)
	script(type="text/javascript" src=(external ? path : "/js/" + path))
mixin addFont(path, external)
	link(rel="stylesheet" type="text/css" href=(external ? path : "/fonts/" + path))
mixin icon(...names)
	-var firstName = names[0]
	svg(class!=(attributes.class ? attributes.class : "") + "icon " + firstName)&attributes(attributes)
		each name in names
			use(xlink:href="/images/icons.svg#" + name class="use-" + name)