extends layout
block content
    .wrapper
        .main-slider-action.slider-arrow.white
            .container
                .prev-slide
                    +icon("page-svg")
                .next-slide
                    +icon("page-svg")
        .main-slider
            .item(style="background: url('../images/slider-bg.png')")
                .container
                    .item_content
                        .title Нефтехимавтоматика
                        .description Производим запорно-регулирующую арматуру для предприятий нефтегазового комплекса и химической промышленности.
                        a(href="#!").ui.basic.button Подробнее
            .item(style="background: url('../images/slider-bg.png')")
                .container
                    .item_content
                        .title Нефтехимавтоматика
                        .description Производим запорно-регулирующую арматуру для предприятий нефтегазового комплекса и химической промышленности.
                        a(href="#!").ui.basic.button Подробнее
            .item(style="background: url('../images/slider-bg.png')")
                .container
                    .item_content
                        .title Нефтехимавтоматика
                        .description Производим запорно-регулирующую арматуру для предприятий нефтегазового комплекса и химической промышленности.
                        a(href="#!").ui.basic.button Подробнее
        .container
            .catalog-wrapper
                .catalog-wrapper_title
                    .h3-title Продукция
                    a(href="#!" target="_blank").ui.button.basic Скачать каталог
                .slider-arrow.catalog-block-action
                    .prev-slide
                        +icon("page-svg")
                    .next-slide
                        +icon("page-svg")
                .catalog-block.slider-block
                    a(href="/catalog-list#!").item
                        .img-block
                            img(src="../images/catalog1.png")
                        .name Клапаны регулирующие
                    a(href="/catalog-list").item
                        .img-block
                            img(src="../images/catalog2.png")
                        .name Клапаны запорно-регулирующие
                    a(href="/catalog-list").item
                        .img-block
                            img(src="../images/catalog3.png")
                        .name Клапаны запорные (отсечные)
                    a(href="/catalog-list").item
                        .img-block
                            img(src="../images/catalog4.png")
                        .name Мембранные исполнительные механизмы
            .production
                .h3-title Производственная площадка
                .production-slider-action.slider-arrow.white
                    .prev-slide
                        +icon("page-svg")
                    .next-slide
                        +icon("page-svg")
                .production-slider
                    .item
                        img(src="../images/production1.png")
                    .item
                        img(src="../images/production2.png")
                    .item
                        img(src="../images/production1.png")
                    .item
                        img(src="../images/production2.png")
                    .item
                        img(src="../images/production1.png")
                    .item
                        img(src="../images/production2.png")
                    .item
                        img(src="../images/production1.png")
                    .item
                        img(src="../images/production2.png")
                .description Мы знанимаемся проектированием и производством запорной и регулирующей арматуры с 2013 года. Одно из основных направлений производственной программы — выпуск клапанов для автоматического регулирования и управления жидкими и газообразными потоками среды (нефти, нефтепродуктов, газа, химпродуктов, пара, воды, кислот и щелочей любых концентраций). Наше производство находится в г. Киреевск Тульской области.
                .right-button-block
                    a(href="#!").ui.button.basic Подробнее
                .production-block
                    .item
                        .name ТЭК
                        .inf в реестре аккредитованных поставщиков
                    .item
                        .name 120
                        .inf человек общий штат циалистов
                    .item
                        .name 50
                        .inf единиц станочного оборудования
                    .item
                        .name 2000 м2
                        .inf производственных площадей
                    .item
                        .name 10
                        .inf лет#[br] отрасли