include functions
block var
    -var title = "Нефтехимавтоматика"
    -var page = ''
doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, minimum-scale=1, user-scalable=no")
        meta(name="theme-color" content="#EE6E73")
        title #{title + (page.length ? " - " : "") + (typeof page === 'string' ? page : page[page.length - 1])}
        block css
            +addCss("slick.css")
            +addCss("slick-theme.css")
            +addCss("semantic.css")
            +addCss("font/font.css")
            +addCss("jquery.fancybox.min.css")
            +addCss("style.css")
        block fonts
    header.header
        .header__wrap.blue
            .container
                .header__wrap_block
                    .item
                        .ui.search
                            .ui.icon.input
                                +icon("search-svg")
                                input(type="text" placeholder="Поиск" id="search").prompt
                            .result
                    .item
                        .contact_block
                            +icon("mail-svg")
                            a(href="mailto:zakaz@nhavtomatika.ru") zakaz@nhavtomatika.ru
                        .contact_block
                            +icon("phone-svg")
                            a(href="tel:+7 (495) 255-18-55") +7 (495) 255-18-55
                        .contact_block
                            +icon("phone-svg")
                            a(href="tel:+7 (495) 255-18-55") +7 (495) 255-18-55
        .header__wrap.white
            .container
                .header__wrap_block
                    .item
                        a(href="/").img-block
                            img(src="../images/logo.svg")
                    .item
                        .burger-menu
                            span
                            span
                            span
                        .main-menu.none
                            a(href="/catalog") Каталог
                            a(href="/document") Документы
                            a(href="/our-product") Наше производство
                            a(href="/referens") Референс-лист
                            a(href="/contact") Контакты
                            .main-menu-mob
                                .item
                                    +icon("mail-svg")
                                    a(href="mailto:zakaz@nhavtomatika.ru") zakaz@nhavtomatika.ru
                                .item
                                    +icon("phone-svg")
                                    a(href="tel:+7 (495) 255-18-55") +7 (495) 255-18-55
                                .item
                                    +icon("phone-svg")
                                    a(href="tel:8 800 350 65 67") 8 800 350 65 67
                                .social
                                    a(href="#!")
                                        img(src="../images/inst-mob.svg")
                                    a(href="#!")
                                        img(src="../images/face-mob.svg")
                                    a(href="#!")
                                        img(src="../images/youtube-mob.svg")
                                p Copyright - © 2013-2020,#[br] OOO Научно-Производственное#[br] Предприятие «Нефтехимавтоматика».

    body
        block content
    footer.footer
        .container
            .footer__wrap
                .item
                    p Copyright - © 2013-2020,#[br] OOO Научно-Производственное#[br] Предприятие «Нефтехимавтоматика».#[br]#[br]Все права защищены
                .item
                    p 301262, Тульская область, #[br]г. Киреевск, ул. Тесакова 9-Г
                    a(href="tel:8 800 350 65 67") 8 800 350 65 67
                    a(href="tel:+7 (495) 255-18-55") +7 (495) 255-18-55
                    a(href="mailto:zakaz@nhavtomatika.ru").mail-link zakaz@nhavtomatika.ru
                .item
                    .menu-footer
                        a(href="/catalog") Каталог
                        a(href="/our-product") Наше производство
                        a(href="/referens") Референс-лист
                        a(href="/contact") Контакты
                .item
                    .social-block
                        a(href="#!")
                            img(src="../images/inst.svg")
                        a(href="#!")
                            img(src="../images/face.svg")
                        a(href="#!")
                            img(src="../images/youtube.svg")
                    a(href="#!" target="_blank").policity Политика обработки #[br] персональных данных
        .up-page
            img(src="../images/up.svg")
            p Наверх
    block scripts
        +addJs("jquery-3.4.1.min.js")
        +addJs("jquery.inputmask.min.js")
        +addJs("jquery.fancybox.min.js")
        +addJs("slick.min.js")
        +addJs("semantic.min.js")
        +addJs("scripts.js")
