extends layout
block content
    .wrapper
        .container
            .bread-crumb
                a(href="#!") Главная
                a(href="#!") Наше производство
            h1 Научно-Производственное Предприятие «Нефтехимавтоматика»
            .video-block
                .video-block_bg
                    img(src="../images/video-bg.png").pc
                    img(src="../images/video-bg-mob.png").mob
                img(src="../images/video.png")
                .video-block_text Производственная площадка успешно прошла технический аудит ПАО «Газпромнефть», ПАО «Новатэк» и ПАО НК «Роснефть».
            .our-product
                .our-product_description «НПП «Нефтехимавтоматика» - российский завод-изготовитель регулирующей и запорной арматуры с 2013 года. Полный цикл производства от разработки конструкторской документации до испытаний готовой продукции. Одно из основных направлений производственной программы — выпуск клапанов для автоматического регулирования и управления жидкими и газообразными потоками среды (нефти, нефтепродуктов, газа, химпродуктов, пара, воды, кислот и щелочей любых концентраций). Производственная площадка расположена в г. Киреевск Тульской области, головной офис компании в Москве.
                .director_block
                    .director_block_img
                        img(src="../images/dir.png")
                    .director_block_description
                        .text Наша задача — производить высокотехнологичную продукцию, соотвествующую современным требованиям: химической, нефтегазодобывающей и перерабатывающей промышленности. В настоящее время наша продукция не уступает по техническим характеристикам и качеству аналогичной продукции импортного производства. Наше преимущество — меньший срок изготовления и стоимость.
                        .name Сергей Филиппов #[br] Генеральный директор ООО НПП «Нефтехимавтоматика»
                .h3-title Этапы производства
                .step
                    .step-production
                        .step-production-action.slider-arrow.white
                            .prev-slide
                                +icon("page-svg")
                            .next-slide
                                +icon("page-svg")
                        .slider-block
                            .item
                                img(src="../images/step1.1.png")
                            .item
                                img(src="../images/step1.2.png")
                        .text-block
                            .name Конструкторско-технологический отдел
                            .text Конструкторско-технологический отдел нашего предприятия, в тесном взаимодействии с заказчиками, предлагает инновационные решения для управления особо агрессивными рабочими средами в сложных условиях эксплуатации (антишумовое, антикавитационное, высокотемпературное, криогенное исполнения клапанов).
                        .step-production_count 1
                    .step-production
                        .step-production-action.slider-arrow.white
                            .prev-slide
                                +icon("page-svg")
                            .next-slide
                                +icon("page-svg")
                        .slider-block
                            .item
                                img(src="../images/step2.1.png")
                            .item
                                img(src="../images/step1.2.png")
                            .item
                                img(src="../images/step2.3.png")
                        .text-block
                            .name Заготовительный участок производства
                            .text Обеспечивает материалом металлообрабатывающие производственные участки для их бесперебойной работы, оснащенный высокоскоростными полуавтоматическими и автоматическими ленточнопильными станками европейского производства. Современное оборудование позволяет обрабатывать заготовки конечной продукции диаметром до 400 мм.
                        .step-production_count 2
                    .step-production
                        .step-production-action.slider-arrow.white
                            .prev-slide
                                +icon("page-svg")
                            .next-slide
                                +icon("page-svg")
                        .slider-block
                            .item
                                img(src="../images/step3.1.png")
                            .item
                                img(src="../images/step3.2.png")
                        .text-block
                            .name Участок механической обработки
                            .text На токарных, фрезерных, сверлильных станках отечественного и импортного производства участка механической обработки работают высококвалифицированные токари и фрезеровщики. Наше предприятие заслуженно гордится высокой квалификацией своих работников, ежегодно заслуживающих призовые места на конкурсе лучших токарей Тульской области.
                        .step-production_count 3
                    .step-production
                        .step-production-action.slider-arrow.white
                            .prev-slide
                                +icon("page-svg")
                            .next-slide
                                +icon("page-svg")
                        .slider-block
                            .item
                                img(src="../images/step4.1.png")
                            .item
                                img(src="../images/step4.2.png")
                            .item
                                img(src="../images/step4.3.png")
                        .text-block
                            .name Участок сварки и термообработки
                            .text Участок сварки и термообработки оборудован современными полуавтоматическими аппаратами аргонодуговой и механизированной сварки в среде активных газов и смесях. Технология сварки, как и сами высококвалифицированные сварщики, имеют аттестацию Национального Агентства Контроля Сварки (НАКС).
                        .step-production_count 4
                    .step-production
                        .step-production-action.slider-arrow.white
                            .prev-slide
                                +icon("page-svg")
                            .next-slide
                                +icon("page-svg")
                        .slider-block
                            .item
                                img(src="../images/step5.1.png")
                            .item
                                img(src="../images/step5.2.png")
                        .text-block
                            .name Испытательный участок
                            .text Сборщики клапанов, работающие на участке сборки, имеют высокую квалификацию и большой опыт. Испытательный участок оснащен аттестованными испытательными стендами. Специалисты имеют соответствующее обучение.
                        .step-production_count 5
                    .step-production
                        .step-production-action.slider-arrow.white
                            .prev-slide
                                +icon("page-svg")
                            .next-slide
                                +icon("page-svg")
                        .slider-block
                            .item
                                img(src="../images/step6.1.png")
                            .item
                                img(src="../images/step6.2.png")
                            .item
                                img(src="../images/step6.3.png")
                        .text-block
                            .name Участок покраски
                            .text Грунтовка и нанесение лакокрасочного покрытия (ЛКП) на готовое изделие является одним из самых важных и ответственных этапов производства клапанов. От качества нанесения зависит срок службы изделия, его коррозионная стойкость. Качество нанесения ЛКП обязательно проверяется инженерами ОТК завода визуально и специальным оборудованием.
                        .step-production_count 6
                    .step-production
                        .step-production-action.slider-arrow.white
                            .prev-slide
                                +icon("page-svg")
                            .next-slide
                                +icon("page-svg")
                        .slider-block
                            .item
                                img(src="../images/step7.1.png")
                            .item
                                img(src="../images/step7.2.png")
                        .text-block
                            .name Отдел технического контроля (ОТК).
                            .text Отдел технического контроля завода строго контролирует не только качество и соответствие техническим требованиям готовую продукцию, но и качество поступающего сырья для изготовления клапанов и комплектующих. Предприятие сертифицировано по системе менеджмента качества ГОСТ Р ИСО 9001-2015
                        .step-production_count 7
                .guaranty
                    img(src="../images/guaranty.svg")
                    .guaranty_block
                        .name Гарантийные обязательства
                        .text Вся продукция имеет заводскую гарантию и сертифицирована в соответствии с ТР ТС 010, 012, 032. Изделия имеют сертификаты сейсмостойкости.
