extends layout
block content
    .wrapper
        .container
            .bread-crumb
                a(href="#!") Главная
                a(href="#!") Референс-лист
            h1 Референс-Лист
            .referens
                .referens-partner
                    .h3-title.blue Мы гордимся сотрудничеством с крупнейшими предприятиями ТЭК России
                    p Более 10 лет мы являемся надежным и ответственным прямым поставщиком для таких предприятий как ПАО «Газпромнефть», ПАО «Новатэк», ПАО «НК Лукойл», ЗАО «Таманьнефтегаз», ПАО «НК «Роснефть», активно сотрудничая также с производителями блочно-модульного оборудования, поставляющими готовую продукцию на промышленные объекты предприятий России и стран ближнего зарубежья.
                .h3-title Выполненные проекты
                .referens-slider
                    .referens-slider-action.slider-arrow
                        .prev-slide
                            +icon("page-svg")
                        .next-slide
                            +icon("page-svg")
                    .referens-slider-nav
                        .item
                            img(src="../images/logo-firm1.png")
                        .item
                            img(src="../images/logo-firm2.png")
                        .item
                            img(src="../images/logo-firm3.png")
                        .item
                            img(src="../images/logo-firm4.png")
                        .item
                            img(src="../images/logo-firm4.png")
                .referens-slider-for
                    .item
                        .organization
                            .organization_img
                                .organization_img-item
                                    img(src="../images/org1.png")
                                .organization_img-item
                                    img(src="../images/org2.png")
                            .organization_content
                                .organization_content-item
                                    .name ПАО «Газпромнефть»
                                    .text «Газпром нефть» занимает лидирующие позиции в России по темпам роста добычи углеводородного сырья и переработки нефтепродуктов. В структуру «Газпром нефти» входят более 70 нефтедобывающих, нефтеперерабатывающих и сбытовых предприятий в России, странах ближнего и дальнего зарубежья.
                                .organization_content-item
                                    .name Совместные проекты
                                    .project
                                        .project-item
                                            .project-item-cell Гапромнефть МЗСМ
                                            .project-item-cell Гапромнефть
                                            .project-item-cell Газпромнефть-Ноябрьскнефтегаз
                                            .project-item-cell Гапромнефть ОНПЗ
                                            .project-item-cell Гапромнефть ОНПЗ
                                        .project-item
                                            .project-item-cell Гапромнефть РЗБМ
                                            .project-item-cell Гапромнефть-Оренбург
                                            .project-item-cell Гапромнефть МЗСМ
                                            .project-item-cell Гапромнефть-Хантос
                    .item
                        .organization
                            .organization_img
                                .organization_img-item
                                    img(src="../images/org1.png")
                                .organization_img-item
                                    img(src="../images/org2.png")
                                .organization_img-item
                                    img(src="../images/org1.png")
                            .organization_content
                                .organization_content-item
                                    .name ПАО «Газпромнефть»
                                    .text «Газпром нефть» занимает лидирующие позиции в России по темпам роста добычи углеводородного сырья и переработки нефтепродуктов. В структуру «Газпром нефти» входят более 70 нефтедобывающих, нефтеперерабатывающих и сбытовых предприятий в России, странах ближнего и дальнего зарубежья.
                                .organization_content-item
                                    .name Совместные проекты
                                    .project
                                        .project-item
                                            .project-item-cell Гапромнефть МЗСМ
                                            .project-item-cell Гапромнефть
                                            .project-item-cell Газпромнефть-Ноябрьскнефтегаз
                                            .project-item-cell Гапромнефть ОНПЗ
                                            .project-item-cell Гапромнефть ОНПЗ
                                        .project-item
                                            .project-item-cell Гапромнефть РЗБМ
                                            .project-item-cell Гапромнефть-Оренбург
                                            .project-item-cell Гапромнефть МЗСМ
                                            .project-item-cell Гапромнефть-Хантос
                    .item
                        .organization
                            .organization_img
                                .organization_img-item
                                    img(src="../images/org1.png")
                                .organization_img-item
                                    img(src="../images/org2.png")
                            .organization_content
                                .organization_content-item
                                    .name ПАО «Газпромнефть»
                                    .text «Газпром нефть» занимает лидирующие позиции в России по темпам роста добычи углеводородного сырья и переработки нефтепродуктов. В структуру «Газпром нефти» входят более 70 нефтедобывающих, нефтеперерабатывающих и сбытовых предприятий в России, странах ближнего и дальнего зарубежья.
                                .organization_content-item
                                    .name Совместные проекты
                                    .project
                                        .project-item
                                            .project-item-cell Гапромнефть МЗСМ
                                            .project-item-cell Гапромнефть
                                            .project-item-cell Газпромнефть-Ноябрьскнефтегаз
                                            .project-item-cell Гапромнефть ОНПЗ
                                            .project-item-cell Гапромнефть ОНПЗ
                                        .project-item
                                            .project-item-cell Гапромнефть РЗБМ
                                            .project-item-cell Гапромнефть-Оренбург
                                            .project-item-cell Гапромнефть МЗСМ
                                            .project-item-cell Гапромнефть-Хантос
                    .item
                        .organization
                            .organization_img
                                .organization_img-item
                                    img(src="../images/org1.png")
                                .organization_img-item
                                    img(src="../images/org2.png")
                            .organization_content
                                .organization_content-item
                                    .name ПАО «Газпромнефть»
                                    .text «Газпром нефть» занимает лидирующие позиции в России по темпам роста добычи углеводородного сырья и переработки нефтепродуктов. В структуру «Газпром нефти» входят более 70 нефтедобывающих, нефтеперерабатывающих и сбытовых предприятий в России, странах ближнего и дальнего зарубежья.
                                .organization_content-item
                                    .name Совместные проекты
                                    .project
                                        .project-item
                                            .project-item-cell Гапромнефть МЗСМ
                                            .project-item-cell Гапромнефть
                                            .project-item-cell Газпромнефть-Ноябрьскнефтегаз
                                            .project-item-cell Гапромнефть ОНПЗ
                                            .project-item-cell Гапромнефть ОНПЗ
                                        .project-item
                                            .project-item-cell Гапромнефть РЗБМ
                                            .project-item-cell Гапромнефть-Оренбург
                                            .project-item-cell Гапромнефть МЗСМ
                                            .project-item-cell Гапромнефть-Хантос
                    .item
                        .organization
                            .organization_img
                                .organization_img-item
                                    img(src="../images/org1.png")
                                .organization_img-item
                                    img(src="../images/org2.png")
                            .organization_content
                                .organization_content-item
                                    .name ПАО «Газпромнефть»
                                    .text «Газпром нефть» занимает лидирующие позиции в России по темпам роста добычи углеводородного сырья и переработки нефтепродуктов. В структуру «Газпром нефти» входят более 70 нефтедобывающих, нефтеперерабатывающих и сбытовых предприятий в России, странах ближнего и дальнего зарубежья.
                                .organization_content-item
                                    .name Совместные проекты
                                    .project
                                        .project-item
                                            .project-item-cell Гапромнефть МЗСМ
                                            .project-item-cell Гапромнефть
                                            .project-item-cell Газпромнефть-Ноябрьскнефтегаз
                                            .project-item-cell Гапромнефть ОНПЗ
                                            .project-item-cell Гапромнефть ОНПЗ
                                        .project-item
                                            .project-item-cell Гапромнефть РЗБМ
                                            .project-item-cell Гапромнефть-Оренбург
                                            .project-item-cell Гапромнефть МЗСМ
                                            .project-item-cell Гапромнефть-Хантос
            .letters
                .h3-title Благодарственные письма
                .letters-block
                    .item
                        .img-block
                            a(href="../images/document1-max.png" data-fancybox="document" data-caption="Документ")
                                img(src="../images/document1.png")
                            img(src="../images/size.svg").size
                        .name ООО "ГАЗПРОМНЕФТЬ"
                    .item
                        .img-block
                            a(href="../images/document2-max.png" data-fancybox="document" data-caption="Документ")
                                img(src="../images/document2.png")
                            img(src="../images/size.svg").size
                        .name ООО "ГАЗПРОМНЕФТЬ"
                    .item
                        .img-block
                            a(href="../images/document3-max.png" data-fancybox="document" data-caption="Документ")
                                img(src="../images/document3.png")
                            img(src="../images/size.svg").size
                        .name ООО "ГАЗПРОМНЕФТЬ"
                    .item
                        .img-block
                            a(href="../images/document4-max.png" data-fancybox="document" data-caption="Документ")
                                img(src="../images/document4.png")
                            img(src="../images/size.svg").size
                        .name ООО "ГАЗПРОМНЕФТЬ"
                    .item
                        .img-block
                            a(href="../images/document1-max.png" data-fancybox="document" data-caption="Документ")
                                img(src="../images/document1.png")
                            img(src="../images/size.svg").size
                        .name ООО "ГАЗПРОМНЕФТЬ"
                    .item
                        .img-block
                            a(href="../images/document2-max.png" data-fancybox="document" data-caption="Документ")
                                img(src="../images/document2.png")
                            img(src="../images/size.svg").size
                        .name ООО "ГАЗПРОМНЕФТЬ"
                .ui.button.basic Показать еще



