extends layout
block content
    .wrapper
        .container
            .bread-crumb
                a(href="#!") Главная
                a(href="#!") Результаты поиска
            h1 Результаты поиска
            .search-wrapper
                .search-input
                    .ui.icon.input
                        input(type="text" placeholder="Поиск").prompt
                        +icon("search-svg")
                    .result-request По вашему запросу #[span «Клапаны рег»] найдено 3 резултата
                .search-result
                    .item
                        a(href="#!").name Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                        .bread-crumb
                            a(href="#!") Главная
                            a(href="#!") Каталог
                            a(href="#!") Клапаны регулирующие
                            a(href="#!") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                    .item
                        a(href="#!").name Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                        .bread-crumb
                            a(href="#!") Главная
                            a(href="#!") Каталог
                            a(href="#!") Клапаны регулирующие
                            a(href="#!") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                    .item
                        a(href="#!").name Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                        .bread-crumb
                            a(href="#!") Главная
                            a(href="#!") Каталог
                            a(href="#!") Клапаны регулирующие
                            a(href="#!") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                    .item
                        a(href="#!").name Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                        .bread-crumb
                            a(href="#!") Главная
                            a(href="#!") Каталог
                            a(href="#!") Клапаны регулирующие
                            a(href="#!") Клапаны регулирующие КМР-Р, НХА-КР с ручным приводом
                .pagination-page
                    .ui.button.primary Следующая страница
                    .page-block
                        .count 1 из 5
                        .prev-page
                            +icon("page-svg")
                        .next-page
                            +icon("page-svg")