@font-face {
  font-family: "DinDisplay";
  src: url('pfdindisplaypro-bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DinDisplay";
  src: url('pfdindisplaypro-reg.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DinDisplay";
  src: url('pfdindisplaypro-med.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DinDisplay";
  src: url('PFDinDisplayPro-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}